.basket-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px;
    border: 2px solid rgb(191, 190, 190);
    border-radius: 10px;
}
.basket{
    background-color: rgb(203, 203, 203);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
}
.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 700;
}